
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
html{
  font-size: 62.5%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* background: #000; */
  /* height: 100vh; */
}
.header{
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
}

.header-image{
  position: relative;
  height: 90vh;
}

.photo-text{
  font: 1.6rem;
  position: absolute;
  background: url(../IMG/gandhi.png);
  height: 100%;
  width: 70rem;
  background-size: cover;
  text-align: justify;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.0002);
  line-height: 1.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  line-height: 1rem;
  /* z-index: -10; */
}  
.header-content{
  flex: 0 0 50%;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
}

.quote{
  position: relative;
font-family: "Roboto Slab";

}
.quoteText {
font-size: 3rem;
text-align: right;
margin-bottom: 5rem;
}
.quoteMark{
font-size: 5rem;
color: rgba(255, 255 ,255, 0.5);
position: absolute;
right: 0;
top:-2rem;
}

.heading{
margin-bottom: 3rem;
font-size: 5rem;
font-family: "Roboto Slab";

}
.button-box{
margin-top: 5rem;
}
.buttonLink:link, .buttonLink:visited{
  font-size: 3rem;
  padding: 2rem 1.5rem;
  text-decoration: none;
font-family: "Roboto Slab";
background: #f8f9fa;
color: black;
text-align: center;
font-weight: 400;
border-radius: 10px;
transition: all .3s;
margin-left: 20rem;
}

.buttonLink:link:hover, .buttonLink:visited:hover{
  background: #000;
  color: #f8f9fa;
  border: 2px solid;
}

